<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div >
        <img src="../static/imgs/pre-imgs/{{data[4]}}">
        <h1><big><big>{{ data[1] }}</big></big></h1>
            <h3>Описние: {{  data[2] }}</h3>
            <div>Кол-во скчивний:{{data[6]}} Автор:{{data[8]}}     </div>
            <a href="/games/{{data[0]}}/play"><img src="../static/imgs/play_button.png" hight ="500" width="250"></a>
    </div>
